:root {    
--magenta: hsl(300, 43%, 22%);
--pink:    hsl(333, 80%, 67%);
--dark-gray:  hsl(303, 10%, 53%);
--light-gray: hsl(300, 24%, 96%);
--white-00:   hsl(0, 0%, 100%);

--ff-main: 'League Spartan', sans-serif;

--fs-main: 0.9375rem;

--fw-400: 400;
--fw-500: 500;
--fw-700: 700;
}